@import "variables";

.card-courses-item {
    margin-top: 16px;
}

.user-avatar {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 5px;
}

.checkbox-selected-all-options {
    width: 180px;
    margin: 0 16px;
}

.disabled {
    pointer-events: none;
    cursor: default;
}